:root {

    /* Colors */
    --text-primary: #1A4174;
    --bg-primary: #FFFFFF;
    --bg-sections: #EAEEF4;
    --bg-danger: #E9292F;
    --para-text: #6B7280;
    --bg-dark: #010169;
    --strong-black: #141415;
    --bg-light-blue: #0D4ABC;
    --bg-red-dark: #9D1015;
}


/* Hero Section */

.page-banner {
    /* min-height: 311px;   */
    border-radius: 16px;
    overflow: hidden;
    background-image: url("../Assests/partner_clients/header-bg-img.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    min-height: clamp(220px, 40vh, 311px);
    padding: var(--pm32);
}

/* Content */
.page-banner-content {
    color: #ffffff;
}

/* Breadcrumb */
.breadcrumb {
    font-size: 16px;
    margin-bottom: 10px;
    opacity: 0.9;
}

.breadcrumb a {
    color: #ffffff;
    text-decoration: none;
}

.breadcrumb span img {
    margin: 0 6px;
}



/* =========Top 5 brands section  
==============================*/

.client-video-section {
    /* padding: 80px 20px 0px 20px; */
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.section-head p {
    max-width: 820px;
    margin: 0 auto 40px;
    margin-bottom: 22px;
}

/* LOGOS */
.client-logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0%;
}

.client-logos .logo {
    background: none;
    border: none;
    width: calc(100% / 5);
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    margin-bottom: 15px;
    opacity: 1;
}

.client-video-section .container .row:nth-child(2) {
    position: relative;
}

.client-video-section .container .row:nth-child(2)::after {
    content: "";
    position: absolute;
    bottom: 31px;
    left: 0;
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.client-logos .logo::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 5px;
    background: var(--bg-danger);
    z-index: 11;
}

.client-logos .logo.active::before {
    animation: slideIn 8s forwards;
    animation-play-state: running;
}

.client-logos .logo.active.paused::before {
    animation-play-state: paused !important;
}

.logo.paused::before {
    animation-play-state: paused;
}

@keyframes slideIn {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.client-logos .logo.active {
    opacity: 1;
}


/* VIDEO THUMB */
.video-thumb {
    position: relative;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    padding: 0;
}


.video-thumb img {
    width: 100%;
    display: block;
}

.video-thumb h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 28px;
}

.thumb-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 28px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.thumb-overlay p {
    margin: 0;
    color: #141415;
    font-size: 16px;
    line-height: 1.6;

    /* BOX CONTROL */
    max-width: 85%;
    padding: 14px 16px;
    border-radius: 8px;

    /* WHITE GLASS */
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    /* OVERFLOW FIX */
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

    box-sizing: border-box;
}



/* Show on hover */
.video-thumb:hover .thumb-overlay {
    opacity: 1;
}




/*=== Image Carousal section 
========================= */

.brand-carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.brand-track {
    display: flex;
    align-items: center;
    gap: 60px;
    width: max-content;
}

.brand-item {
    flex: 0 0 auto;
}

.brand-item img {
    height: 40px;
    width: auto;
}

/* ========================= */
/* MOBILE VERSION ONLY */
/* ========================= */
@media (max-width: 767px) {

    .client-logos {
        justify-content: center;
        overflow: hidden;
        position: relative;
        margin: 0px;
    }

    .client-logos .logo {
        display: none;
        width: 100%;
        max-width: 180px;
        margin: 0 auto;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .client-logos .logo.active {
        display: block;
        opacity: 1;
    }

    .client-video-section .container .row:nth-child(2)::after {
        display: none;
    }

    .client-logos .logo::before {
        bottom: -10px;
        height: 4px;
    }

    .video-thumb {
        margin-top: 20px;
        /* height: 300px; */
    }

    .video-thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}



/* Newww edits  */

/* SECTION */
.product-showcase {
    padding: 60px 0;
}

/* HEADER */
.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-heading {
    color: var(--text-primary);
}

/* SEE MORE BUTTON */
/* .see-more-btn {
    background: var(--bg-danger);
    border: 1px solid var(--bg-danger);
    padding: 8px 18px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}


.see-more-btn:hover {
    background: var(--bg-danger); 
    color: #fff;
} */
.see-more-btn-box {
    display: flex;
    justify-content: end;
    margin-top: 50px;
}

.see-more-btn {
    padding: 8px 15px !important;
}

/* GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    align-items: start;
}

/* CARD */
.product-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
}

/* IMAGE */
.product-image {
    height: 260px;
    background: #f6f6f6;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* FOOTER */
.product-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 16px;
    background: #F7F7F9;
}

.brand-logo {
    width: 28px;
}

.brand-name {
    font-size: 14px;
    font-weight: 500;
}

/* HIDDEN CARDS */
.hidden {
    display: none;
}

.product-card.hidden {
    display: none;
}

.product-grid.expanded .product-card.hidden {
    display: flex;
}

/* RESPONSIVE */
@media (max-width: 991px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }

    .product-image {
        height: 220px;
    }

    .brand-name {
        font-size: 13px;
    }

    .mobile-see-more {
        display: block;
    }

    .product-card.hidden {
        display: none;
    }


    .product-grid.expanded .product-card.hidden {
        display: flex;
    }

    .see-more-btn-box {
        justify-content: center;
    }

    .thumb-overlay p {
        height: 175px;
        overflow: auto;
    }
}