* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.navbar {
    padding: 30px 70px;

}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-right: 30px;

}

.main h1 {
    font-size: 200px;
}

.btm-left {
    position: absolute;
    bottom: 15%;
    left: 5%;
    width: 300px
}

.btm-left h3 {
    font-size: 20px;
}

.btm-left h4 {
    margin-top: 30px;
    font-size: 20px;
}